.product-container{
    display:flex;
    flex-direction: column;
    background-color: #7fffd499;
    padding:20px;
    width: 300px;
    margin-top: 20px;
    border-radius: 25px;
}

select{
    appearance: none;
    width:180px;
    height:30px;
    font-size: 16px;
    border-radius:5px;
    padding-left:10px;
}

.buttons{
    display:flex;
    gap:10px;
}
.button{
    background-color: #fff;
    color:#0a8d86;
    padding: 10px;
    border-radius: 25px;
    width: 70px;
    text-align: center;
}

.button:hover{
    background-color: #0a8d86;
    color:#fff;
}