.table-container {
    padding: 20px;
    margin-left: 400px;
    margin-top: auto;
   

  }
  
  .product-table {
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .product-table tr:nth-child(even) {
    /*background-color: #f9f9f9;*/
  }
  
  .product-table tr:hover {
    background-color: #f1f1f1;
  }
  